.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #cec8fd;
  border-top: 2px solid #8c7efa;
  overflow-x: scroll;
}

.footer:not(:hover) img {
  margin: 10px 45px;
}

.footer img {
  height: 50px;
  margin: 10px 20px;
  border-radius: 50%;
  transition: all 0.2s;
}

.footer:hover img {
  height: 100px;
}

.footer img:hover {
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1050px) {
  .footer {
    justify-content: center;
  }
}
